@use "variables";

html {
  font-size: 62.5%; // 1rem === 10px
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding-inline-start: 0 !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  position: fixed;
  background-color: orangered;
  width: 100%;
  height: variables.$header-height;
}

main {
  margin-left: variables.$nav-width;
  padding: 20px;
  background-color: blue;
  width: 100%;
}

nav {
  position: fixed;
  left: 0;
  width: variables.$nav-width;
  height: 100%;
  padding: 25px 10px;
  background-color: #111a29;
}

* {
  box-sizing: border-box;
}
