@use "variables" as *;

html {
  font-size: 62.5%; // 1rem === 10px
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding-inline-start: 0 !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// li {
//   display: inline-block;
// }

p {
  font-size: 1.6rem;
}

button {
  display: inline-block;
  padding: inherit;
  border: none;
  font-family: inherit; // Need to inherit font-family or the font inside button will be default font.
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input {
  &:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

// header {
//   top: 0;
//   position: fixed;
//   background-color: orangered;
//   width: 100%;
//   height: variables.$header-height;
// }
