@use "variables" as *;

.container {
  // margin-top: variables.$header-height;
  display: flex;
}

.main {
  min-height: 100vh;
  margin-left: $nav-width;
  padding: 25px 30px;
  // background-color: rgb(131, 131, 150);
  width: 100%;
  
  @media screen and (max-width: $mobile) {
    margin-left: 0;
    min-height: calc( 100vh - #{$nav-width-sp} );
  }
}

.nav {
  position: fixed;
  left: 0;
  width: $nav-width;
  height: 100%;
  padding: 25px 10px;
  background-color: #111a29;

  & ul {
    & li {
      &:not(last-of-type) {
        padding-bottom: 24px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    bottom: 0;
    width: 100%;
    height: $nav-width-sp;
    padding: 0 10px;
    
    & ul {
      justify-content: space-around;
      height: 100%;
      flex-direction: row;
      & li {
        padding: 0 !important;
      }
    }
  }
}